@use '../../styles/variables' as colors;

.close{
  color: colors.$on-surface;
  transition: color .3s;
  &:hover{
    color: colors.$primary;
  }
}

.send{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  padding: 10px 20px 10px 20px;
  font-weight: 500;
  font-size: 1.6rem;
  align-self: flex-end;
  background-color: colors.$surface-4;
  border-radius: 8px;
  transition: color .2s ease-out, background-color .2s ease-out;
  color: colors.$on-surface;
  &:hover{
    background-color: colors.$surface-3;
    color: colors.$primary-1;
  }
}