@use './variables' as color;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: color.$surface;
  color: color.$on-surface;
  align-items: center;
  font-size: 1.4rem;
  overflow-y: scroll;
  font-family: 'Roboto', sans-serif;
  &::-webkit-scrollbar {
    display: none;
  }
}